body {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    box-shadow: 10px 10px 40px;
}

.page-header .container {
    padding: 20px;
}

main {
    display: flex;
    background-color: #f0e9ed;
}

main .container {
    margin: auto;
    padding: 25px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
}

section.answers table {
    width: 100%;
}

.answers thead {
    background-color: #25786e;
    color: white;
}

.answers tbody tr:nth-of-type(2n) {
    background-color: white;
}

.answers td {
    padding: 10px;
    border: 1px solid white;
    min-width: 120px;
}

.answers .extended-description {
    font-size: 0.7em;
    color: grey;
}

.units {
    font-size: 0.9em;
}

section.settings {
    align-self: start;
    border: 1px white solid;
}

.settings h2 {
    padding: 10px;
    background-color: #25786e;
    color: white;
    font-size: 100%;
}

.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.form-inner-container {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.form-inner-container:nth-of-type(1) {
    align-items: baseline;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form-inner-container:nth-of-type(1) select {
    font-size: .6em;
    padding: .5%;
}

.form-container label {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container input[type="range"] {
    background-color: #f0e9ed;
    -webkit-appearance: none;
    width: 150px;
    height: 15px;
}

.form-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #25786e;
    opacity: 0.9;
    width: 10px;
    height: 26px;
}

.form-container .extended-description {
    font-size: 0.7em;
    color: grey;
}

.form-container input[type="number"] {
    width: 70px;
    font-size: 0.9em;
}

.form-container input[type="number"]:focus {
    background-color: #25786e;
    color: white;
}

.form-container button {
    align-self: flex-end;
    padding: 1.5%;
    margin-top: 25px;
    min-width: 30%;
    font-size: 1em;
}