body {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header .container {
    padding: 20px;
}

main .container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
    padding: 25px;
    background-color: #f0e9ed;
}

section.answers table {
    width: 100%;
}

.answers th {
    padding: 10px;
    font-weight: normal;
    border: 1px solid white;
    color: white;
    background-color: #25786e;
}

.answers tr:nth-of-type(2n) {
    background-color: white;
}

.answers td {
    min-width: 120px;
    padding: 10px;
    border: 1px solid white;
}

.answers .extended-description {
    font-size: 0.6em;
    color: grey;
}

.units {
    font-size: 0.9em;
}

section.settings {
    align-self: start;
}

.settings h2 {
    height: 40.2px;
    padding: 10px;
    font-size: 1em;
    color: white;
    border-bottom: 0;
    background-color: #25786e;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
}

.form-container > label, 
.form-container .labeled {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.form-container > label:nth-of-type(1) {
    align-items: baseline;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.form-container select {
    font-size: .6em;
    padding: .5%;
}

.salary {
    display: flex;
    /* align-items: baseline; */
}

.salary label {
    display: flex;
    align-items: flex-end;
    /* justify-content: space-around; */
}

.salary label:nth-of-type(2) {
    margin-left: 10px;
}

.salary input {
    max-width: 50px !important;
    min-width: 50px !important;
    font-size: .9em;
}

.input-units {
    font-size: .8em;
}

.form-container .extended-description {
    font-size: 0.6em;
    color: grey;
}

.form-container input[type="number"] {
    max-width: 70px;
    min-width: 70px;
    font-size: .9em;
}

.form-container button {
    align-self: flex-end;
    padding: 1%;
    margin-top: 20px;
    min-width: 30%;
    font-size: .9em;
}

.annotation {
    padding: 5px;
    font-size: .7em;
    border: 1px solid grey;
}

.annotation p {
    padding: 5px;
}
