body {
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header {
    box-shadow: 10px 10px 40px;
}

.page-header .container {
    padding: 20px;
}

main {
    background-color: #f0e9ed;
}

main .container {
    padding: 25px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
}

.answers table {
    width: 100%;
}

.answers thead {
    background-color: #25786e;
    color: white;
}

.answers tbody tr:nth-of-type(2n) {
    background-color: white;
}

.answers td {
    padding: 10px;
    border: 1px solid white;
    min-width: 120px;
}

.units {
    font-size: 0.9em;
}

.answers .extended-description {
    font-size: 0.7em;
    color: grey;
}

.settings {
    align-self: start;
    border: 1px white solid;
}

.settings h2 {
    background-color: #25786e;
    color: white;
    font-size: 100%;
    padding: 10px;
}

.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #f0e9ed;
}

.settings label {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.select-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
}

.settings input:focus {
    background-color: #25786e;
    color: white;
}

.settings input[type="range"] {
    background-color: #fff;
    -webkit-appearance: none;
    width: 150px;
    height:15px;
}

.settings input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
   background-color: #25786e;
   opacity: 0.9;
   width: 10px;
   height: 26px;
}


.settings input[type="number"] {
    width: 60px;
    font-size: 0.9em;
}

.settings .extended-description {
    font-size: 0.7em;
    color: grey;
}

.settings button {
    align-self: flex-end;
    margin-top: 15px;
    width: 150px;
    height: 40px;
    font-size: 1em;
}

